
<div>
	
	<div class="palm-button" id="switchModelsButton"><span x-mojo-loc="">Switch model</span></div>
	<div class="palm-button" id="focusButton"><span x-mojo-loc="">Focus list item</span></div>
	
	<div><span x-mojo-loc="">Show add item:</span><input type='checkbox' id="addCheckbox" checked='true'></div>
	<div><span x-mojo-loc="">Show List:</span><input type='checkbox' id="visibleCheckbox" checked='true'></div>
	<div class="info-text">
		<span x-mojo-loc="">Here is a list:</span>
	</div>
	
	<div id='editableListContainer'>
		<div id="wordsList" x-mojo-element="List" >
		</div>
	</div>
	
</div>