<!-- TODO: replace the contents of this file with your own html -->
<div id="myHeader" class="palm-page-header">
         <span class="main-title"><div id="leftField" align="center"><h3>About Us</h3></div></span>
</div>
<div class="palm-body-text">
coursesIllinois was conceived, designed and created by <a href="mailto:ryali1@illinois.edu">Kiran Ryali</a> and <a href="mailto:gupte1@illinois.edu">Atul Gupte</a>, both Juniors at UIUC for the Palm
Student Showcase.
<br>
<br>
It is our solution to provide course information in an organized and systematic
format, on the one device thats with you at all times - your mobile phone.
<br>
<br>
A few currently unmet goals for this project are:
<ol>
<li><strong>Calendar integration</strong> - adding sections to calendar events</li>
<li><strong>Saved courses</strong> - keeping track of a user's courses</li>
<li><strong>Task list tagging</strong> - tag assignments and todo's with saved course id</li>
<li><strong>Searchable Lists</strong> - filter through list with user input</li>
</ol>
<br>
<br>
Content used is from the UIUC Course Catalog and www.ratemyprofessors.com <http://www.ratemyprofessors.com>
<br>
<br>
</div>
