<!-- Each section is a new group with section information as rows of the group -->
<div class="palm-group">
	<div class="palm-group-title">CRN #{crn}</div> <!--CRN-->
	<div class="palm-list">
	
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div class="label">INSTRUCTOR</div>
				<div class="title">#{instructor}</div> <!--instructor-->
			</div>
		</div>
		<div class="palm-row first" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div class="label">Type</div> <!--type-->
				<div class="title">#{type}</div> <!--section-->
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div class="label">TIME</div> 
				<div class="title">#{time}</div> <!--time-->
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div class="label">DAYS</div>
				<div class="title">#{days}</div> <!--days-->
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div class="label">LOCATION</div>
				<div class="subtitle">#{-location}</div> <!--location-->
			</div>
		</div>
		<div class="palm-row" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div class="title add"><a href="http://www.ratemyprofessors.com/SelectTeacher.jsp?the_dept=All&sid=1112&orderby=TLName&letter=#{initial}">Check this professor's rating</a></div>
			</div>
		</div>
	</div>
</div>
